@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

body{

    background-color: rgba(6, 105, 47, 0.089);
    font-family: Arial, Helvetica, sans-serif;
}
form{

  max-width: 1600px;
  padding: 35px 35px 45px;
  margin:  auto;
  margin-top: 50px;
  background-color: #fff;
  /*border: 1px solid rgba(0,0,0,0.1);  */
  border-radius: 7px;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.342);
}

.produtos-lista{

  max-width: 1600px;
  padding: 35px 35px 45px;
  margin:  auto;
  margin-top: 50px;
  background-color: #fff;
  border: 0px; 
  border-radius: 7px;
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.342);
  margin-bottom: 50px;
}

.lista h1{
  color: rgb(168, 165, 170);
  font-family: Arial, Helvetica, sans-serif;
  
}

@media screen and (max-width: 340px){
  .lista {
    width: 300px;
    height: 100%;
    top: 1px;

  }
  .produtos-lista{
    justify-content: center;
    text-align: justify;
    
  }
  #finalizar{
    position: absolute;
    bottom:   100px;
    width: 40%;
    padding: 13px;
    border:0px;
    background-color: #28a745;
    color: #fff;
    
  }
  .table-overflow {
    max-height: 200px;
    overflow-y: auto;
    justify-content: center;
}
 
}

.lista{
  
  border-radius: 1px;
  display: none;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  right: 10px;
  top: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.123);
  width:70%;
  height: 100%;
  text-align: justify;
}
.lista h1{
  margin-top: 20px;
  font-family: inherit;
}
#finalizar{
  position: absolute;
  bottom:   110px;
  width: 80%;
  padding: 13px;
  margin-left: 20px;
  margin-right: 80px;
  border-radius: 8px;
  border:0px;
  background-color: #28a745;
  color: #fff;
  
}

.btn-lista{
  background-repeat: no-repeat;
  background-color: #FF5E14;
  margin-right: 30px;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 60px;
  border-radius: 50rem;
  border:1px;
  width: 70px;
  height: 70px;
}

#img-carrinho{
  margin-top: 18px;
  margin-right: 4px;
  width: 30px;
  height: 30px;
}
  #title{
    font-family: 'Cairo', sans-serif;
  }

  .card{

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.212);
  }
  span{
    padding: 3px;
    color: red;
    font-size: 16px;
  }
  p{
    font-size: 12px;
  }


/*1200px*/